
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanh toán thành công</title>
</head>
<body style="text-align:center">
    <div> 
        <h2>Thanh toán thành công</h2>
        <h4>Đơn hàng của bạn đã được gửi cho Shop. Bạn sẽ nhận được hàng trong khoảng 2-3 ngày nữa. Xin cảm ơn.</h4>
        <a href="@Url.Action("ProductList", "Products")" style="text-decoration:none">Tiếp tục mua hàng.....</a>
    </div>
</body>
</html>
